{% extends "layout.html" %}

{% block title %}Record {{ day.capitalize() }} Workout{% endblock %}

{% block content %}
<h1 class="mt-5 text-center text-primary">Record Your {{ day.capitalize() }} Workout</h1>

<div class="text-center mb-4">
    <h3>Total Workout Time: <span id="total-time">00:00:00</span></h3>
</div>

<form id="workout-form" method="POST" action="{{ url_for('record_workout', day=day) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <div class="text-center mb-4">
        <label for="current_weight">Current Weight (kg):</label>
        <input type="number" id="current_weight" name="current_weight" step="0.1" placeholder="Weight (kg)" required>
    </div>

    {% for exercise in workout['exercises'] %}
        <div class="workout-input" id="exercise-{{ loop.index }}">
            <h4>{{ exercise['Exercise'] }} ({{ exercise['TargetedMuscle'] }})</h4>
            <div class="timer">
                <span class="timer-display">00:00:00</span>
                <button type="button" class="btn btn-success btn-sm start-timer">Start</button>
                <button type="button" class="btn btn-danger btn-sm stop-timer" disabled>Stop</button>
            </div>
            <div id="{{ exercise['Exercise']|lower|replace(' ', '-') }}-workouts">
                <div class="workout-set">
                    <label>
                        <input type="checkbox" class="set-completed"> 
                        {{ exercise['Exercise'] }} - Set 1:
                    </label>
                    <input type="number" name="{{ exercise['Exercise']|lower|replace(' ', '_') }}_weight[]" placeholder="Weight (kg)" step="0.5" required>
                    <input type="number" name="{{ exercise['Exercise']|lower|replace(' ', '_') }}_reps[]" placeholder="Reps" required>
                    <button type="button" class="btn btn-danger btn-sm remove-set-btn">Remove Set</button>
                </div>
            </div>
            <button type="button" class="btn btn-info btn-sm add-set" data-exercise="{{ exercise['Exercise']|lower|replace(' ', '-') }}">Add Set</button>
            <button type="button" class="btn btn-warning btn-sm toggle-remove-set">Toggle Remove Set</button>
        </div>
    {% endfor %}

    <input type="hidden" name="workout_duration" id="workout_duration">

    <button type="submit" class="btn btn-primary mt-4">Save Workout</button>
</form>

<a href="{{ url_for('workout', day=day) }}" class="btn btn-secondary mt-3">Back to Workout Details</a>
{% endblock %}

{% block extra_js %}
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}