<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ day.capitalize() }} Workout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card {
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center text-primary">{{ day.capitalize() }} Workout</h1>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Workout Type: {{ workout['type'] }}</h2>
                {% if workout['exercises'] %}
                    <h3>Exercises:</h3>
                    <ul class="list-group">
                    {% for exercise in workout['exercises'] %}
                        {% if exercise == 'Rest' %}
                            <li class="list-group-item">Rest Day</li>
                        {% else %}
                            <li class="list-group-item">
                                <strong>{{ exercise['Exercise'] }}</strong>
                                <br>Targeted Muscle: {{ exercise['TargetedMuscle'] }}
                                {% if exercise.get('Sets') %}
                                    <br>Sets: {{ exercise['Sets'] }}
                                {% endif %}
                                {% if exercise.get('Reps') %}
                                    <br>Reps: {{ exercise['Reps'] }}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>This is a rest day.</p>
                {% endif %}
            </div>
        </div>
        <a href="{{ url_for('display_workout_plan') }}" class="btn btn-primary">
            <i class="fas fa-arrow-left"></i> Back to Full Plan
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>