<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ day.capitalize() }} Workout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">{{ day.capitalize() }} Workout</h1>
        
        <h2>Workout Type: {{ workout['type'] }}</h2>
        
        {% if workout['exercises'] %}
            <h3>Exercises:</h3>
            <ul class="list-group mb-4">
            {% for exercise in workout['exercises'] %}
                {% if exercise == 'Rest' %}
                    <li class="list-group-item">Rest Day</li>
                {% else %}
                    <li class="list-group-item">
                        <strong>{{ exercise['Exercise'] }}</strong>
                        <br>Targeted Muscle: {{ exercise['TargetedMuscle'] }}
                        {% if exercise.get('Sets') %}
                            <br>Sets: {{ exercise['Sets'] }}
                        {% endif %}
                        {% if exercise.get('Reps') %}
                            <br>Reps: {{ exercise['Reps'] }}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p>This is a rest day.</p>
        {% endif %}
        
        <a href="{{ url_for('display_workout_plan') }}" class="btn btn-secondary">Back to Full Plan</a>
        {% if workout['type'] != 'Rest' %}
            <a href="{{ url_for('record_workout', day=day.lower()) }}" class="btn btn-primary">Record Workout</a>
        {% endif %}
    </div>
</body>
</html>